<mat-toolbar color="primary">
    <div class="container">
        <a mat-button routerLink='/' routerLinkActive='active'><span>Terry LAU's Page</span></a>
        <a mat-button routerLink='/' routerLinkActive='active'><span class="fa fa-home fa-lg"></span> Home</a>
        <a mat-button routerLink='/aboutme' routerLinkActive='active'><span class="fa fa-info fa-lg"></span> About Me</a>
        <a mat-button routerLink='/qualifications' routerLinkActive='active'><span class="fa fa-check fa-lg"></span> Qualifications</a>
        <a mat-button routerLink='/skills' routerLinkActive='active'><span class="fa fa-cog fa-lg"></span> Skills</a>
        <a mat-button routerLink='/chordfinder' routerLinkActive='active'><span class="fa fa-music fa-lg"></span> Chord Finder</a>
        <a mat-button class="quote" (click)="openQuote()"><span class='fa fa-quote-left'><span class='fa fa-quote-right'></span> My Favourite Quote</span></a> 
    </div>
</mat-toolbar>

<div class="jumbotron">
    <div class="container"><h1>Terry LAU's Angular Page</h1></div>
</div>