.quote-div{
    background-color: #FF6666;
}
.quote{
    border: 1px solid grey;
    color: grey;
    width: 100%;
    background-color: #FF6060;
}

.quote:hover{
    background-color: rgb(61, 61, 61);
    color: white;
}