.background{
    background: lightcoral url("../../assets/images/volcano.jpg") fixed center no-repeat;
    background-size: cover;
    background-position: top center;
    padding: 0% !important;
    margin: 0% !important;
}

.home {
    padding-top: 10%;
    padding-bottom: 20%;
    color: lightyellow;
}