<div class="background">
    <div class="container home">
        <h1 style="text-align: center; text-shadow: black 1px 1px;">Welcome to my Page</h1>
        <hr/>
        <h2 style="text-shadow: black 1px 1px;">This page is built with: </h2>
        <ul>
            <li>AngularJS</li>
            <li>Angular Flex Layout</li>
            <li>Angular Material</li>
            <li>RxJs</li>
        </ul>
        
        <h2 style="text-shadow: black 1px 1px;">Architecture of this page: </h2>
        <a href="../../assets/images/architecture.jpg"><img src="../../assets/images/architecture.jpg" width="100%"/></a>
        <div style="text-align: center;">
            (Click for full resolution)
        </div>
    </div>
</div>